# 워크플로우 이름 지정
name: CI Build And Artifact Upload

# 워크플로우가 시작될 조건 지정
# 메인 브랜치에 Push할 때마다 워크플로우를 시작하도록
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # 태그를 생성하고 푸시할 권한 필요!
    ## 실행 스텝 지정
    steps:
      ## 지정한 레포지터리를 확인하고 코드에 대한 작업을 실행시킴
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'gradle'

      # gradlew 실행 권한 부여 (Permission denied 방지)
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: ./backend # github repo에 프로젝트 파일이 바로 있다면 이 구문 생략

      - name: Build with Gradle
        run: ./gradlew clean bootJar
        working-directory: ./backend # github repo에 프로젝트 파일이 바로 있다면 이 구문 생략
      #빌드 결과물을 임시 저장소(Artifact)에 업로드합니다.
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: spring-boot-jar-artifact # 아티팩트 이름
          path: backend/build/libs/*.jar

      # 자동 태그 생성 및 푸시 액션
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # 레포지토리 쓰기 권한
          WITH_V: true # 태그 앞에 v를 붙여줍니다 (예: v0.0.1)
          DEFAULT_BUMP: patch # 세 번째 자리(v0.0.x)만 올립니다.