# 워크플로우 이름 지정
name: CI/CD with GitHub Actions

# 워크플로우가 시작될 조건 지정
# 메인 브랜치에 Push할 때마다 워크플로우를 시작하도록
on:
  push:
    branches: [ main ]
    tags:
      - "v*"  # v1.0, v0.0.1 등 태그가 Push될 때만 실행


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # 릴리즈 생성을 위한 권한
    ## 실행 스텝 지정
    steps:
      ## 지정한 레포지터리를 확인하고 코드에 대한 작업을 실행시킴
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'gradle'

      # gradlew 실행 권한 부여 (Permission denied 방지)
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: ./backend # github repo에 프로젝트 파일이 바로 있다면 이 구문 생략

      - name: Build with Gradle
        run: ./gradlew clean bootJar
        working-directory: ./backend

      # 빌드된 JAR 파일을 GitHub Release로 업로드
      - name: Create Release and Upload Jar
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/') # 태그가 달려있을 때만 실행
        with:
          files: backend/build/libs/*.jar