# 워크플로우 이름 지정
name: CI / CD Workflow

# 워크플로우가 시작될 조건 지정
# 메인 브랜치에 Push할 때마다 워크플로우를 시작하도록
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # 릴리즈 생성을 위한 권한
    ## 실행 스텝 지정
    steps:
      ## 지정한 레포지터리를 확인하고 코드에 대한 작업을 실행시킴
      - name: Checkout source code
        uses: actions/checkout@v3
      # CI: JDK 설정 및 빌드 수행
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'gradle'

      # gradlew 실행 권한 부여 (Permission denied 방지)
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: ./backend # github repo에 프로젝트 파일이 바로 있다면 이 구문 생략

      - name: Build with Gradle
        run: ./gradlew clean bootJar
        working-directory: ./backend # github repo에 프로젝트 파일이 바로 있다면 이 구문 생략

      # CD: 릴리즈 생성 및 업로드
      - name: Create Temporary Release and Upload Jar
        uses: softprops/action-gh-release@v1
        with:
      # 현재 커밋 해시(Commit SHA)를 릴리즈 이름으로 사용하여 고유성을 확보
          tag_name: release-${{ github.sha }}
          name: Deployment from Commit ${{ github.sha }}
          files: backend/build/libs/*.jar

      # Termux에 신호 보내기 (Post-Hook)
      - name: Trigger Termux Deployment
        run: |
          echo "Termux 서버로 배포 신호를 보냅니다..."
          curl -X POST http://eyehope.site:5000/deploy